{% extends "base.html" %}
{% load chimere_tags i18n %}
{% block extra_head %}
<link rel="stylesheet" href="{{ STATIC_URL }}chimere/css/styles.css" />
<link rel="stylesheet" href="{{ STATIC_URL }}chimere/css/print.css" media='print'/>
{% if css_area %}
<link rel="stylesheet" href="{{ css_area }}" />{% endif %}
{% if MOBILE %}
<link rel="stylesheet" href="{{ STATIC_URL }}chimere/css/mobile.css" />
<script src="{{ STATIC_URL }}chimere/js/mobile.chimere.js" type="text/javascript"></script>{%endif%}
<link rel="stylesheet" href="{{ STATIC_URL }}font-awesome/css/font-awesome.min.css" />
<link rel="stylesheet" href="{{ STATIC_URL }}bootstrap/bootstrap.min.css" />
<link rel="stylesheet" href="{{ STATIC_URL }}chimere/css/form-compat.css" />
<link rel="stylesheet" href="{{ STATIC_URL }}chimere/css/extra-styles.css" />
<script src="{{ STATIC_URL }}bootstrap/bootstrap.min.js" type="text/javascript"></script>
    <script type='text/javascript'>
    var has_search = {% if has_search %}true{% else %}false{% endif %};
    </script>
<script src="{{ STATIC_URL }}chimere/js/interface.js" type="text/javascript"></script>
{% endblock %}
{% block header %}
<noscript>
    <div id="no-js-message">
        <p id='no-js' class='warning'>{% trans "You must enable JavaScript in your browser to display Chimère."%}</p>
    </div>
</noscript>
    {% block page_title %}{% endblock %}
    {% block actions %}
        {% include "chimere/blocks/actions.html" %}
    {% endblock %}
{% endblock %}
{% block content %}
    {% block top %}{% endblock %}
    {% block message_map %}{% endblock %}
    {% block message_edit %}{% endblock %}
    {% block bottom %}{% endblock %}
{% endblock %}
{% block footer %}
    {% include "chimere/blocks/footer.html" %}
{% endblock %}

